record(waveform, "$(PREFIX):PARAM:INTARR:$(INDEX)") {
    field(DTYP, "asynOctetWrite")
    field(DESC, "Int Array Param")
    field(FTVL, "CHAR")
    field(NELM, "2048")
    field(INP, "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))VSP_PINTARR$(INDEX)")
}