record(ao, "$(PREFIX):PARAM:INT:$(INDEX)") {
    field(DTYP, "asynInt32")
    field(DESC, "Int Param")
    field(PINI, "YES")
    field(OUT, "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))VSP_PINT$(INDEX)")
}

record(stringin, "$(PREFIX):PARAM:INT:$(INDEX):LABEL") {
    field(DTYP, "asynOctetRead")
    field(DESC, "Int Param Name")
    field(SCAN, "I/O Intr")
    field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))VSP_LINT$(INDEX)")
}